
<div class="main">
  <div class='content'>


      <p>Search Packages By Location</p>
      <br/>
    <input type=text [(ngModel)]="city" /> <button (click)="getData()">Fetch Data</button>
    <div>

      <div *ngFor="let tp of data" style="text-align:center">    
      <p>Package: {{tp[0].name}}</p>      
      <p>Description: {{tp[0].description}}</p>      
      <p>Days: {{tp[0].numberOfDays}}</p> 
      <p>Price: ${{tp[0].rrp}}</p>
      <hr/>           
        
       
       
      
  
    </div>
    {{travelPackageid}}
  </div>
</div>